input[type=date], input[type=datetime-local], input[type=email],
input[type=number], input[type=password], input[type=search],
input[type=tel], input[type=text], input[type=time], input[type=url], textarea {
    border: 1px solid hsl(210, 17%, 44%);
    width: 100%;
}
table {
    font-size: 1rem !important;
}
td {
    vertical-align: middle !important;
}
.accordion-header .accordion-button {
    color: var(--bs-accordion-btn-color);
}
@media (max-width: 767px) {
    .btn {
        display: block !important;
        width: 100%;
        margin: 3px 0;
    }
}
