{% load i18n %}
{% load static %}


{% if tot_credits >= application.call.credits_threshold %}
<div class="alert alert-success my-3" role="alert">
    {% trans "You have reached the minimum limit of required credits by the call" %} (<b>{{ application.call.credits_threshold }}</b>).
    <br>
    {% trans "Declared" %} <b>{{ tot_credits|floatformat:1 }}</b>.
</div>
{% elif not application.submission_date %}
<div class="alert alert-danger my-3" role="alert">
    <p class="h5 alert-heading">{% trans "Warning" %}</p>
    {% trans "You are competing for the year" %} <b>{{ application.call.course_year }}</b>.
    <br>
    {% trans "You have not yet reached the minimum number of required credits by the call" %} (<b>{{ application.call.credits_threshold }}</b>).
    <br>
    {% trans "Acquired credits" %} <b>{{ tot_credits|floatformat:1 }}</b>.
    <br>
    {% trans "Your request cannot be sent." %}
</div>
{% else %}
<div class="alert alert-danger my-3" role="alert">
    <p class="h5 alert-heading">{% trans "Warning" %}</p>
    {% trans "You have competed for the year" %} <b>{{ application.call.course_year }}</b>.
    <br>
    {% trans "You have not reached the minimum number of required credits by the call" %} (<b>{{ application.call.credits_threshold }}</b>).
    <br>
    {% trans "Acquired credits" %} <b>{{ tot_credits|floatformat:1 }}</b>.
</div>
{% endif %}
