{% extends 'base-setup.html' %}

{% load i18n %}
{% load static %}
{% load iasp_tags %}
{% load organizational_area_tags %}


{% block page_title %}{% trans "Enrollment in years after the first" %}{% endblock page_title %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/iasp.css' %}">
{% endblock extra_head %}

{% block header_center_search %}
{% endblock header_center_search %}

{% block menu_links %}
{% if structure %}
<li class="nav-item">
    <a class="nav-link ps-lg-0" href="{% url 'management:calls' structure_code=structure.unique_code %}">
        <span>{% trans "Dashboard" %}</span>
    </a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link ps-lg-0" href="{% url 'generics:home' %}">
        <span>{% trans "Home" %}</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'calls:calls' %}">
        <span>{% trans "Active calls" %}</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'applications:applications' %}">
        <span>{% trans "My applications" %}</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'accounts:account' %}">
        <span>{% trans "Account" %}</span>
    </a>
</li>
{% endif %}
{% endblock menu_links %}

{% block header_slim_buttons %}
{% settings_value "LOGOUT_URL" as logout_url %}
{% is_operator request.user as structures %}
{% if structures %}
<div class="nav-item dropdown w-100">
     <a class="nav-link dropdown-toggle px-0 pe-lg-2 float-left d-block d-lg-flex" href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="it-access-top-wrapper">
            <button class="btn btn-primary btn-sm w-100" href="#" type="button">
                <svg class="icon-expand icon icon-sm">
                    <use href="{% static 'svg/sprites.svg' %}#it-expand"></use>
                </svg>
                <span>
                    {% trans "Active role" %}:
                    {% if structure %}
                        {{ structure.name }}
                    {% else %}
                        {% trans "User" %}
                    {% endif %}
                </span>
            </button>
        </div>
    </a>
    <div class="dropdown-menu">
        <div class="row">
            <div class="col-12">
                <div class="link-list-wrapper">
                    <ul class="link-list">
                        <li>
                            <a class="list-item" href="{% if structure %}{% url 'generics:home' %}{% else %}#{% endif %}">
                                <span>{% trans "User" %}</span>
                            </a>
                        </li>
                        {% for s in structures %}
                        <li>
                            <a class="list-item" href="{% if structure and s.unique_code == structure.unique_code %}#{% else %}{% url 'management:calls' structure_code=s.unique_code %}{% endif %}">
                                <span>{{ s.name }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<a href="{{ logout_url }}">
    <button class="btn btn-primary btn-sm btn-icon" type="button">
        <svg class="icon icon-light icon-xs">
          <use xlink:href="{% static 'svg/sprites.svg' %}#it-close-circle"></use>
        </svg> <span>{% trans "Logout" %}</span>
    </button>
</a>
{% endblock header_slim_buttons %}

{% block header_slim_sub_menu %}
{% endblock header_slim_sub_menu %}

{% block footer_menu_section %}
{% endblock footer_menu_section %}

{% block container %}
<div class="container">
    <div class="col-12 py-5 bd-content">
        {% block centered_container %}
            {% block top_content %}
            {% endblock top_content %}

            {% block top_buttons_surround %}
            <div class="mt-0 mb-4">
                <div class="d-md-flex">
                    {% block top_buttons %}
                    {% endblock top_buttons %}
                </div>
            </div>
            {% endblock top_buttons_surround %}

            {% block over_content %}{% endblock over_content %}

            {% block clean_content %}{% endblock clean_content %}
        {% endblock centered_container %}
    </div>
</div>
{% endblock container %}
