{% extends "structures/application_required_detail.html" %}

{% load i18n %}
{% load static %}


{% block top_buttons %}
<a href="{% url 'management:commissions' %}" class="btn btn-outline-secondary">
    <svg class="icon icon-sm">
        <use href="{% static 'svg/sprites.svg' %}#it-arrow-left"></use>
    </svg> {% trans "Commissions" %}
</a>
<a href="{% url 'management:commission' call_pk=application.call.pk %}" class="btn btn-outline-secondary ms-md-1">
    <svg class="icon icon-sm">
        <use href="{% static 'svg/sprites.svg' %}#it-folder"></use>
    </svg> {{ commission.name }}
</a>
<a href="{% url 'management:commission_applications' call_pk=application.call.pk %}" class="btn btn-outline-secondary ms-md-1">
    <svg class="icon icon-sm">
        <use href="{% static 'svg/sprites.svg' %}#it-list"></use>
    </svg> {% trans "Applications" %}
</a>
<a href="{% url 'management:commission_application' call_pk=application.call.pk application_pk=application.pk %}" class="btn btn-outline-secondary ms-md-1">
    <svg class="icon icon-sm">
        <use href="{% static 'svg/sprites.svg' %}#it-user"></use>
    </svg> {{ application.user }}
</a>
<a href="{% url 'management:commission_application_required_list' call_pk=application.call.pk application_pk=application.pk %}" class="btn btn-outline-secondary ms-md-1">
    <svg class="icon icon-sm">
        <use href="{% static 'svg/sprites.svg' %}#it-warning-circle"></use>
    </svg> {% trans "Required teachings" %}
</a>
<a href="{% url 'management:commission_application_required' call_pk=application.call.pk application_pk=application.pk teaching_id=target_teaching.id %}" class="btn btn-outline-secondary ms-md-1">
    {{ target_teaching.name }}
</a>
{% endblock top_buttons %}

{% block clean_content %}
<div class="mb-4">
    <p class="h3">
        {% trans "Commission actions log" %}
    </p>
</div>
{% if logs %}
<div class="it-list-wrapper">
  <ul class="it-list">
      {% for log in logs %}
    <li>
      <div class="list-item">
        <div class="it-right-zone">
          <div>
            <p class="m-0">{{ log.text }}</p>
          </div>
          <span class="it-multiple">
            <span class="metadata">{{ log.created_by }} / {{ log.created }}</span>
          </span>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
{% trans "No items here" %}
{% endif %}
{% endblock clean_content %}
