{% extends "call.html" %}

{% load i18n %}
{% load static %}
{% load iasp_tags %}


{% block top_buttons %}
<a href="{% url 'management:commissions' %}" class="btn btn-outline-secondary">
    <svg class="icon icon-sm">
        <use href="{% static 'svg/sprites.svg' %}#it-arrow-left"></use>
    </svg> {% trans "Commissions" %}
</a>
{% endblock top_buttons %}

{% block extra_content %}
<p class="h4 mb-3">
    {{ commission.name }}
    {% if commission.is_in_progress %}
    <svg class="icon icon-sm icon-success">
        <use href="{% static 'svg/sprites.svg' %}#it-check-circle"></use>
    </svg>
    {% else %}
    <svg class="icon icon-sm icon-danger">
        <use href="{% static 'svg/sprites.svg' %}#it-close-circle"></use>
    </svg>
    {% endif %}
</p>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <tbody>
          {% for member in commission.get_members %}
          <tr>
            <td><b>{{ member.user }}</b></td>
            <td>{{ member.role|default:'-' }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
<hr>
{% endblock extra_content %}

{% block call_action %}
<a href="{% url 'management:commission_applications' call_pk=commission.call.pk %}" class="btn btn-info">
    <svg class="icon icon-sm icon-white">
        <use xlink:href="{% static 'svg/sprites.svg' %}#it-password-visible"></use>
    </svg> {% trans "View applications" %}
</a>
{% endblock call_action %}
