{% extends "base_print.html" %}

{% load i18n %}
{% load static %}

{% load iasp_tags %}


{% block clean_content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="mb-4">
    <p class="h3">
        {% if LANGUAGE_CODE == 'it' %}
            {{ application.call.title_it }}
        {% else %}
            {{ application.call.title_en }}
        {% endif %}
    </p>
</div>

<p class="h5">{% trans "Application details" %}</p>
<ul style="font-size: 1rem">
    <li><b>{% trans "Created" %}:</b> {{ application.created }}</li>
    <li><b>{% trans "Last modification" %}:</b> {{ application.modified }}</li>
    {% if application.submission_date %}
    <li><b>{% trans "Submission date" %}:</b> {{ application.submission_date }}</li>
    {% endif %}
    {% if application.protocol_number %}
    <li><b>{% trans "Registration details" %}:</b> {{ application.protocol_number }}/{{ application.protocol_date }}</li>
    {% endif %}
</ul>

<p class="h5">{% trans "Personal informations" %}</p>
<ul style="font-size: 1rem">
    <li><b>{% trans "Nationality" %}:</b> {{ application.user_country }}</li>
    <li><b>{% trans "First name" %}:</b> {{ application.user.first_name }}</li>
    <li><b>{% trans "Last name" %}:</b> {{ application.user.last_name }}</li>
    <li><b>{% trans "Taxpayer ID" %}:</b> {{ application.user.taxpayer_id }}</li>
    <li><b>{% trans "Phone number" %}:</b> {{ application.user.phone_number }}</li>
    <li><b>{% trans "Email" %}:</b> {{ application.user.email }}</li>
</ul>

<p class="h5">{% trans "Call details" %}</p>
<ul style="font-size: 1rem">
    <li><b>{% trans "Name" %}:</b> {% if LANGUAGE_CODE == 'it' %}{{ application.call.title_it }}{% else %}{{ application.call.title_en }}{% endif %}</li>
    <li><b>{% trans "Degree course" %}:</b> {{ application.call.course_json_it.CdSName }}</li>
    <li><b>{% trans "Year" %}:</b> {{ application.call.course_year }}</li>
    <li><b>{% trans "Places available" %}:</b> {{ application.call.places_available }}</li>
    <li><b>{% trans "Credits threshold" %}:</b> {{ application.call.credits_threshold }}</li>
    <li><b>{% trans "Active from" %}:</b> {{ application.call.start }}</li>
    <li><b>{% trans "Active until" %}:</b> {{ application.call.end }}</li>
</ul>

<p class="h5">{% trans "Career informations" %}</p>
<ul style="font-size: 1rem">
    <li><b>{% trans "Home University" %}:</b> {{ application.home_university }}</li>
    <li><b>{% trans "Home University country" %}:</b> {{ application.home_country }}</li>
    <li><b>{% trans "Home University city" %}:</b> {{ application.home_city }}</li>
    <li><b>{% trans "Home University course" %}:</b> {{ application.home_course }}</li>
</ul>
{% endblock clean_content %}
