{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% load iasp_tags %}


{% block top_buttons %}
<a href="{% url 'generics:home' %}" class="btn btn-outline-secondary">
    <svg class="icon icon-sm">
        <use href="{% static 'svg/sprites.svg' %}#it-arrow-left"></use>
    </svg> {% trans "Home" %}
</a>
<a href="{% url 'applications:applications' %}" class="btn btn-outline-secondary ms-md-1">
    <svg class="icon icon-sm">
        <use href="{% static 'svg/sprites.svg' %}#it-folder"></use>
    </svg> {% trans "My applications" %}
</a>
<a href="{% url 'applications:application' application_pk=application.pk %}" class="btn btn-outline-secondary ms-md-1">
    <svg class="icon icon-sm">
        <use href="{% static 'svg/sprites.svg' %}#it-note"></use>
    </svg> {% trans "Back to application" %}
</a>
{% endblock top_buttons %}

{% block clean_content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="mb-4">
    <p class="h3">
        {% trans "Requests for recognition of free credits of" %} {{ free_credits_rule.course_year }}° {% trans "year" %}
    </p>
    <p class="h5">
        {% if LANGUAGE_CODE == 'it' %}
            {{ application.call.title_it }}
        {% else %}
            {{ application.call.title_en }}
        {% endif %}
    </p>
</div>

{% block application_alerts %}
<div class="alert alert-info my-3" role="alert">
    {% trans "The number of credits for elective courses in the selected year ranges from a minimum of" %}
    <b>{{ free_credits_rule.min_value }}</b>
    {% trans "to a maximum of" %}
    <b>{{ free_credits_rule.max_value }}</b>
</div>

{% include "include/credits_alert.html" %}
{% include "include/payment_alert.html" %}
{% endblock application_alerts %}

{% if insertions %}
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">{% trans "Code" %}</th>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col" class="text-end">{% trans "SSD" %}</th>
            <th scope="col" class="text-end">{% trans "Credits" %}</th>
            <th scope="col" class="text-end">{% trans "Teaching program" %}</th>
            {% if commission or application.call.can_show_commission_reviews %}
            <th scope="col" class="text-end table-warning">{% trans "Credits review" %}</th>
            <th scope="col" class="text-end table-warning">{% trans "Review notes" %}</th>
            {% endif %}
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for insertion in insertions %}
            <tr>
                <td>{{ insertion.source_teaching_cod }}</td>
                <td>{{ insertion.source_teaching_name }}</td>
                <td class="text-end">{{ insertion.source_teaching_ssd|default:'-' }}</td>
                <td class="text-end">{{ insertion.source_teaching_credits }}</td>
                <td class="text-end">
                    <a href="{% url 'applications:download_insertion_attachment' application_pk=application.pk insertion_pk=insertion.pk %}" target="_blank" title="Clicca qui">
                        {% trans "Download" %}
                    </a>
                </td>
                {% if commission or application.call.can_show_commission_reviews %}
                <td class="text-end">{{ insertion.review.changed_credits|default:"-" }}</td>
                <td class="text-end">{{ insertion.review.notes|default:"-" }}</td>
                {% endif %}
                <td class="text-end">
                    {% if structure %}
                    <a href="{% url 'management:application_free_detail' structure_code=structure.unique_code call_pk=call.pk application_pk=application.pk year=free_credits_rule.course_year insertion_pk=insertion.pk %}" class="btn btn-info btn-xs">
                    {% elif commission %}
                    <a href="{% url 'management:commission_application_free_detail' call_pk=application.call.pk application_pk=application.pk year=free_credits_rule.course_year insertion_pk=insertion.pk %}" class="btn btn-info btn-xs">
                    {% else %}
                    <a href="{% url 'applications:application_free_edit' application_pk=application.pk year=free_credits_rule.course_year insertion_pk=insertion.pk %}" class="btn btn-info btn-xs">
                    {% endif %}
                        <svg class="icon icon-xs icon-white" aria-labelledby="action">
                            {% if application.is_editable %}
                            <title id="action">{% trans "Edit" %}</title>
                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-pencil"></use>
                            {% else %}
                            <title id="action">{% trans "Details" %}</title>
                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-password-visible"></use>
                            {% endif %}
                        </svg>
                    </a>

                    {% if commission %}
                    <a href="{% url 'management:commission_application_free_review' call_pk=application.call.pk application_pk=application.pk year=free_credits_rule.course_year insertion_pk=insertion.pk %}"" class="btn btn-success btn-xs">
                        <svg class="icon icon-xs icon-white" aria-labelledby="edit2">
                            <title id="edit2">{% trans "Edit" %}</title>
                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-pencil"></use>
                        </svg>
                    </a>
                    <a href="{% url 'management:commission_application_free_review_logs' call_pk=application.call.pk application_pk=application.pk year=free_credits_rule.course_year insertion_pk=insertion.pk %}" class="btn btn-primary btn-xs">
                        <svg class="icon icon-xs icon-white" aria-labelledby="logs">
                            <title id="logs">{% trans "Logs" %}</title>
                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-file"></use>
                        </svg>
                    </a>
                    {% if insertion.review %}
                    <button type="button" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#delete">
                        <svg class="icon icon-xs icon-white" aria-labelledby="delete">
                            <title id="delete">{% trans "Delete" %}</title>
                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-delete"></use>
                        </svg>
                    </button>
                    <div class="it-example-modal">
                       <div class="modal" tabindex="-1" role="dialog" id="delete" aria-labelledby="actionTitle">
                          <div class="modal-dialog" role="document">
                             <div class="modal-content">
                                <div class="modal-header">
                                   <h2 class="modal-title h5" id="actionTitle">Conferma</h2>
                                   <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi finestra modale">
                                      <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-close"></use></svg>
                                   </button>
                                </div>
                                <div class="modal-body text-start">
                                   <p>{% trans "Are you sure you want to delete the review?" %}</p>
                                </div>
                                <form method="post" action="{% url 'management:commission_application_free_review_delete' call_pk=application.call.pk application_pk=application.pk year=free_credits_rule.course_year insertion_pk=insertion.pk %}">
                                    <div class="modal-footer">
                                       <input class="btn btn-danger"
                                               type="submit"
                                               id="submitForm"
                                               value="{% trans 'Yes, proceed' %}">
                                    </div>
                                    {% csrf_token %}
                                </form>
                             </div>
                          </div>
                       </div>
                    </div>
                    {% endif %}
                    {% endif %}

                    {% if application.is_editable %}
                    <button type="button" class="btn btn-outline-danger btn-xs" data-bs-toggle="modal" data-bs-target="#delete">
                        <svg class="icon icon-xs icon-danger" aria-labelledby="delete2">
                            <title id="delete2">{% trans "Delete" %}</title>
                            <use xlink:href="{% static 'svg/sprites.svg' %}#it-delete"></use>
                        </svg>
                    </button>
                    <div class="it-example-modal text-start">
                       <div class="modal" tabindex="-1" role="dialog" id="delete" aria-labelledby="actionTitle">
                          <div class="modal-dialog" role="document">
                             <div class="modal-content">
                                <div class="modal-header">
                                   <h2 class="modal-title h5" id="actionTitle">{% trans "Confirm" %}</h2>
                                   <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Chiudi finestra modale">
                                      <svg class="icon"><use href="{% static 'svg/sprites.svg' %}#it-close"></use></svg>
                                   </button>
                                </div>
                                <div class="modal-body">
                                   <p>{% trans "Are you sure you want to delete the request?" %}</p>
                                </div>
                                <form method="post" action="{% url 'applications:application_free_delete' application_pk=application.pk insertion_pk=insertion.pk %}">
                                    <div class="modal-footer">
                                       <input class="btn btn-danger"
                                               type="submit"
                                               id="submitForm"
                                               value="{% trans 'Yes, proceed' %}">
                                    </div>
                                    {% csrf_token %}
                                </form>
                             </div>
                          </div>
                       </div>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
{% trans "No items here" %}
{% endif %}

{% if application.is_editable %}
<div class="d-grid gap-2 mt-4">
    <a href="{% url 'applications:application_free_new' application_pk=application.pk year=free_credits_rule.course_year %}" class="btn btn-success">
        <svg class="icon icon-sm icon-white">
            <use xlink:href="{% static 'svg/sprites.svg' %}#it-check"></use>
        </svg> {% trans "Add new recognition request" %}
    </a>
</div>
{% endif %}

{% endblock clean_content %}
